@using PTUDW_CTS_QuanLyBanXeOto.Areas.Admin.Models
@model IList<TransView>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Transaction Manage - Waitting</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Họ Và Tên Khách Hàng</th>
                    <th>Số Điện Thoại</th>
                    <th>Ngày Tạo Đơn</th>
                    <th>Thanh Toán</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in Model)
                {
                <tr>
                    <td>@trans.HoTenKhachHang</td>
                    <td>@trans.SoDienThoai</td>
                    <td>@trans.NgayTaoDon</td>
                    <td>@trans.ThanhToan</td>
                    <td>@trans.TrangThai</td>
                </tr>
                }
            <tbody>
        </table>
    </div>

</main><!-- End #main -->