@model IList<Menu>
    <div class="templatemo-header">
        <img class="templatemo-header-img" src="~/img/header.png" alt="Header">
        <h1 class="templatemo-site-name">CAR</h1>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <div class="templatemo-nav-container">
            <nav class="templatemo-nav">
                <ul>
                    @{var mn = Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder).ToList();
                        <li><a href="/Home/Index">@mn[0].MenuName</a></li>
                        <li><a href="/Products/Products">@mn[1].MenuName</a></li>
                        <li><a href="/Services/Services">@mn[2].MenuName</a></li>
                        <li><a href="/Gallery/Gallery">@mn[3].MenuName</a></li>
                        <li><a href="/Contact/Contact">@mn[4].MenuName</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>