@model List<HangXeDetail>
@{
    var dshangxe = Model.Select(hx => hx.TenHangXe);
}
@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}
<style>
</style>
<div>
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <img src="~/img/welcome-img.png" class="img-responsive welcome-img" alt="Welcome">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        <h2 class="text-uppercase">
                            <span class="welcome-title-1">Chúng tôi</span>
                            <span class="welcome-title-2">tôn trọng quyết định của bạn</span>
                        </h2>
                        <p class="welcome-message">
                            Chúng tôi luôn đồng hành cùng quý khách hàng, sẵn sàng <span class="blue">
                                lắng nghe
                            </span> và <span class="green">thấu hiểu</span>
                            để đem lại những giá trị tuyệt vời nhất!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <div class="tm-overflow-hidden row">
            <div id="DongXe" class="tm-gallery col-lg-9 col-md-9 col-sm-8 col-xs-12 row">
                @await Component.InvokeAsync("LoadDongXe")
            </div>
            <aside class="tm-gallery-aside col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <nav class="tm-gallery-nav">
                    <h2 class="tm-gallery-nav-title"> Tìm kiếm <i class="fa fa-caret-up"></i></h2>
                    <ul style="display: flex; flex-direction: column; gap: 20px;">
                        <li>
                            <span>Hãng xe:</span>
                            <select id="searchHangXe" style="background-color: black; width: 100%;">
                                <option value="All">Chọn hãng xe</option>
                                @foreach (var hangxe in dshangxe)
                                {
                                    <option value="@hangxe">@hangxe</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span>Màu sắc:</span>
                            <select id="searchMauSac" style="background-color: black; width: 100%;">
                                <option value="">Chọn màu</option>
                                <option value="Đen">Đen</option>
                                <option value="Trắng">Trắng</option>
                                <option value="Bạc">Bạc</option>
                                <option value="Xanh Dương">Xanh Dương</option>
                                <option value="Đỏ">Đỏ</option>
                                <option value="Xám">Xám</option>
                                <option value="Xanh Lá">Xanh Lá</option>
                                <option value="Vàng">Vàng</option>
                                <option value="Cam">Cam</option>
                                <option value="Nâu">Nâu</option>
                            </select>
                        </li>
                        <li>
                            <span>Động cơ:</span>
                            <select id="searchDongCo" style="background-color: black; width: 100%;">
                                <option value="">Chọn loại động cơ</option>
                                <option value="Động cơ xăng (Gasoline Engine)">Động cơ xăng (Gasoline Engine)</option>
                                <option value="Động cơ Diesel">Động cơ Diesel</option>
                                <option value="Động cơ Hybrid">Động cơ Hybrid</option>
                                <option value="Động cơ Plug-in Hybrid (PHEV)">Động cơ Plug-in Hybrid (PHEV)</option>
                                <option value="Động cơ Điện (Electric Engine)">Động cơ Điện (Electric Engine)</option>
                                <option value="Động cơ Wankel (Rotary Engine)">Động cơ Wankel (Rotary Engine)</option>
                                <option value="Động cơ Turbine">Động cơ Turbine</option>
                                <option value="Động cơ Hydrogen (Fuel Cell Engine)">Động cơ Hydrogen (Fuel Cell Engine)</option>
                                <option value="Động cơ 2 kỳ (2-Stroke Engine)">Động cơ 2 kỳ (2-Stroke Engine)</option>
                                <option value="Động cơ 4 kỳ (4-Stroke Engine)">Động cơ 4 kỳ (4-Stroke Engine)</option>
                            </select>
                        </li>
                        <li>
                            <span>Đời xe:</span>
                            <select id="searchDoiXe" style="background-color: black; width: 100%;">
                                <option value="" disabled selected hidden>Chọn năm</option>
                                @for (int year = 1950; year <= DateTime.Now.Year; year++)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span>Khoảng giá:</span>
                            <div style="width: 100%;">
                                <div style="display: flex; justify-content: space-between; color: black;">
                                    <input id="minRange" type="number" min="0" max="100000000000" value="0">
                                    <span style="color: white;"> - </span>
                                    <input id="maxRange" type="number" min="0" max="100000000000" value="100000000000">
                                </div>
                            </div>
                        </li>
                        <li>
                            <a id="timKiem" onclick="loadDongXe()" class="btn btn-primary">Tìm kiếm</a>
                        </li>
                    </ul>
                </nav>
                <div class="tm-call-us">
                    <h3 class="text-uppercase tm-call-us-title">Đường dây nóng</h3>
                    <a href="tel:" class="tm-call-us-link">+84 987 654 321</a>
                </div>
            </aside>
        </div>


        @await Component.InvokeAsync("Banner")

    </section> <!-- Main content -->
</div>

<script>
    @*Ajax xử lý hiển thị dòng xe khi 1 hãng xe được nhấp vào *@
        function loadDongXe() {
            $.ajax({
                url: '@Url.Action("LoadDongXe", "Products")',
                data: { TenHangXe: $('#searchHangXe').val(), MauSac: $('#searchMauSac').val(), DongCo: $('#searchDongCo').val(), giaMin: $('#minRange').val(), giaMax: $('#maxRange').val() },
                type: 'POST',
                dataType: 'html',
                success: function (data) {
                    $("#DongXe").html(data)
                }
            });
        };

    $(document).ready(function () {
        loadDongXe();
    });
</script>