@*Viewcomponent menu, là phần bên trái của giao diện Admin*@
@using PTUDW_CTS_QuanLyBanXeOto.Areas.Admin.Models
@model IList<AdminMenu>
    <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home" )">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        @foreach (var item in Model.Where(m => m.ItemLevel == 1).OrderBy(n => n.ItemOrder).ToList())
        {
            var Pid = item.AdminMenuID;
            var Smenu = Model.Where(p => p.ParentLevel == Pid).OrderBy(p => p.ItemOrder).ToList();
            @if (Smenu.Count() > 0)
            {
                <li class="nav-item">
                    <a href="/Admin/@item.ControllerName/@item.ActionName" class="nav-link collapsed" data-bs-target="#@item.ItemTarget" data-bs-toggle="collapse">
                        <i class="@item.Icon"></i><span>@item.ItemName</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                </li>
                <ul id="@item.IDName" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    @foreach (var smn in Smenu)
                    {
                        <li>
                            <a href="/Admin/@smn.ControllerName/@smn.ActionName">
                                <i class="@smn.Icon"></i><span>@smn.ItemName</span>
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <li class="nav-item">
                    <a href="/Admin/@item.ControllerName/@item.ActionName" class="nav-link collapsed">
                        <i class="@item.Icon"></i><span>@item.ItemName</span>
                    </a>
                </li>
            }
        }
    </ul>

</aside><!-- End Sidebar-->
