@using PTUDW_CTS_QuanLyBanXeOto.Models
@model List<Transaction>
@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}
<div style="background-color: black;">
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        <div class="templatemo-welcome">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    </div>
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-wrap">
                                        <table class="table">
                                            <thead class="thead-primary">
                                                <tr>
                                                    <th class="text-center">Ngày Tạo Đơn</th>
                                                    <th class="text-center">Trạng Thái</th>
                                                    <th class="text-center">Tổng Tiền</th>
                                                    <th class="text-center">Hình Thức Thanh Toán</th>
                                                    <th class="text-center">Ngày Nhận Xe Và Xuất Đơn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var tran in Model)
                                                {
                                                    <tr class="alert text-center" role="alert">
                                                        <td>
                                                            <div class="email">
                                                                <span>@tran.NgayTaoDon</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="email">
                                                                <span>@tran.TrangThai</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="email">
                                                                <span>@tran.TongTien.ToString("N0") VNĐ</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="email">
                                                                <span>@(tran.ThanhToan == null ? tran.TrangThai : tran.ThanhToan)</span>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="email">
                                                                <span>@(tran.NgayDuyet?.ToString("dd/MM/yyyy") == null ? tran.TrangThai : tran.NgayDuyet?.ToString("dd/MM/yyyy"))</span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
