@using PTUDW_CTS_QuanLyBanXeOto.Models
@model List<User>

<main id="main" class="main">
    <div class="container">
        <div class="row gutters">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile" style="text-align: center;padding: 11px;">
                            <div class="user-avatar">
                                <img src="~/img/User/@Model.Select(u => u.UserImage).FirstOrDefault()" class="rounded-circle" alt="Image Admin">
                            </div>
                            <h5 class="user-name" style="margin-top: 15px;">@Model.Select(u => u.Username).FirstOrDefault()</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="width: 100%;">
                <div class="card h-100">
                    <form asp-area="Admin" asp-controller="Profile" asp-action="Update" class="card-body" style="padding: 25px;">
                        <input type="hidden" name="UserID" value="@Model.Select(u => u.UserID).FirstOrDefault()">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Chi Tiết Người Dùng</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="HoTen">Họ Tên</label>
                                    <input type="text" class="form-control" name="HoTen" value="@Model.Select(u => u.HoTen).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="CMND">CMND</label>
                                    <input type="number" class="form-control" name="CMND" value="@Model.Select(u => u.CMND).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="SDT">Số Điện Thoại</label>
                                    <input type="text" class="form-control" name="SoDienThoai" value="@Model.Select(u => u.SoDienThoai).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" name="Email" value="@Model.Select(u => u.Email).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="NamSinh">Năm Sinh</label>
                                    <input type="number" class="form-control" name="NamSinh" value="@Model.Select(u => u.NamSinh).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="DiaChi">Địa Chỉ</label>
                                    <input type="text" class="form-control" name="DiaChi" value="@Model.Select(u => u.DiaChi).FirstOrDefault()" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="row gutters" style="margin-top: 20px;">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-danger">Hủy</a>
                                        <button type="submit" id="submit" class="btn btn-success">Lưu</button>
                                        <a href="@Url.Action("ChangePass", "Profile", new { area = "Admin" })" class="btn btn-secondary">Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>