@*View hiển thị danh sách người dùng để quản lý trong Admin*@
@using PTUDW_CTS_QuanLyBanXeOto.Models
@model IList<User>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>User Manage</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div id="view" class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Họ Và Tên</th>
                    <th>Địa Chỉ</th>
                    <th>Năm Sinh</th>
                    <th>Số Căn Cước Công Dân</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Chức Năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.HoTen</td>
                        <td>@u.DiaChi</td>
                        <td>@u.NamSinh</td>
                        <td>@u.CMND</td>
                        <td>@u.SoDienThoai</td>
                        <td>@u.Email</td>
                        <td>
                            <a method="get" asp-area="Admin" asp-controller="UserManage" asp-action="Edit" asp-route-id="@u.UserID" class="btn btn-primary btn-sm" title="Sửa"><i class="bi bi-pencil"></i></a>
                            <a method="get" asp-area="Admin" asp-controller="UserManage" asp-action="Delete" asp-route-id="@u.UserID" class="btn btn-danger btn-sm" title="Xóa"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            <tbody>
        </table>
    </div>

</main><!-- End #main -->