<!doctype html>
@using Microsoft.AspNetCore.Http;
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="~/img/Favicon.svg" rel="icon" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/SigninSignup/css/style.css">

    @{ Layout = null; }
</head>
<body style="background-color: antiquewhite;">
    @if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('errorMessage').textContent = '@Html.Raw(TempData["alertMessage"].ToString())';
                document.getElementById('errorMessage').style.display = 'block';
            });
        </script>
    }
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Đăng ký</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form method="post" asp-controller="SigninSignup" asp-action="Signup" class="login-form">
                            <div class="form-group">
                                <b>Tên tài khoản</b><input name="Username" type="text" class="form-control rounded-left" placeholder="Nhập tên tài khoản" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                                <b>Mật khẩu</b><input name="Password" type="text" class="form-control rounded-left" placeholder="Nhập mật khẩu" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                            <b>Tên đầy đủ</b><input name="HoTen" type="text" class="form-control rounded-left" placeholder="Nhập tên đầy đủ" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                            <b>Địa chỉ</b><input name="DiaChi" type="text" class="form-control rounded-left" placeholder="Nhập địa chỉ" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                            <b>Số căn cước công dân</b><input name="CMND" type="text" class="form-control rounded-left" placeholder="Nhập số căn cước công dân" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                                <b>Năm sinh</b>
                                <select name="NamSinh" class="form-control rounded-left" style="text-align: center" required>
                                    <option value="" disabled selected>Chọn năm</option>
                                    @for (int year = 1950; year <= DateTime.Now.Year-18; year++)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                            <b>Số điện thoại</b><input name="SoDienThoai" type="text" class="form-control rounded-left" placeholder="Nhập số điện thoại" style="text-align: center" required>
                            </div>
                            <div class="form-group">
                            <b>Email</b><input name="Email" type="text" class="form-control rounded-left" placeholder="Nhập email" style="text-align: center" required>
                            </div>
                            <!-- Display error message below the password input -->
                            <span id="errorMessage" class="text-danger" style="display:none; text-align: center;"></span>
                            <div class="form-group d-flex align-items-center">
                                <div class="d-flex justify-content-end" style="margin-left: 125px">
                                    <button type="submit" class="btn btn-primary rounded submit">Đăng ký</button>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <div class="w-100 text-center">
                                    <p class="mb-1">Đã có tài khoản? <a href="@Url.Action("Signin", "SigninSignup")">Đăng nhập</a></p>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="w-100 text-center">
                                    <a href="@Url.Action("Index", "Home" )">Về trang chủ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginSignup/js/jquery.min.js"></script>
    <script src="~/LoginSignup/js/bootstrap.min.js"></script>

</body>
</html>


