@model List<CarModel>
<h3 class="tm-gallery-title">@Model.Select(dx => dx.TenHangXe).FirstOrDefault() (@Model.Count())</h3>
@foreach (var dx in Model)
{
    <div id="filter" class="tm-item-container">
        <img src="~/img/Car/@dx.CarImage" alt="Image" class="tm-image-container">
        <p class="tm-item-description">
            @dx.TenHangXe @dx.TenDongXe
        </p>
        <p>
            <b>Đời Xe:</b> @dx.DoiXe
        </p>
        <p>
            <b>Màu Sắc:</b> @dx.MauSac
        </p>
        <p>
            <b>Động Cơ:</b> @dx.DongCo
        </p>
        <p>
            <b>Tình trạng kho:</b> @(dx.SoLuong > 0 ? "Còn xe" : "Hết xe")
        </p>
        <div class="tm-item-price-container">
            <span class="tm-item-price">@dx.GiaBan.ToString("N0") VNĐ</span>
        </div>
        <div>
            <a href="@Url.Action("AddCart", "Cart", new { dxid = dx.DongXeID, mausac = dx.MauSac, doixe = dx.DoiXe, dongco = dx.DongCo })" class="tm-item-add-btn">
                <span class="tm-item-action">Thêm vào giỏ</span>
                <img src="~/img/plus.png" alt="Image">
            </a>
        </div>
    </div>
}
